apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fcg-purchase-service-hpa
  labels:
    app: fcg-purchase-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fcg-purchase-service
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
